{% extends 'base.html.twig' %}
{% block body %}
<h1>Bienvenue dans ce blog !</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet architecto at, cum cumque dolores ea fuga illo magnam magni minima natus porro quasi sequi totam veniam vero voluptate? Ipsam?</p>
{% endblock %}
