{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
    {% for article in articles %}
        <section class="articles">
            <article>
                <h2>{{ article.title }}</h2>
                <div class="metadata">Ecrit le {{ article.createdAt | date ('d/m/Y') }} à {{ article.createdAt | date ('H:i') }}dans la catégorie Politique</div>
                <div class="content">
                    <img src="{{ article.image }}" alt="">
                    {{ article.content | raw }}
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi at consequatur cupiditate
                        error facere fugiat fugit ipsa, labore magni maxime nihil porro quibusdam quod repellat tempora
                        tempore temporibus vel.</p>
                </div>
                <a href="{{ path('blog_show',{'id' : article.id}) }}" class="btn btn-primary">Lire la suite</a>
            </article>
        </section>
    {% endfor %}
{% endblock %}
